.tag {
  border: #4C4A52 solid 2px;
  border-radius: 30px;
  margin-right: 8px;
  margin-bottom: 8px;

  &:active {
    background-color: #0080cb;

  }
}

.active {
  background-color: #6bc4f6;
  color: white;
}
.position {
  margin-right: 20px;
  margin-top: 5px
}

.modal-backdrop {
  z-index: -1;
}