<div class="text p-4 bg-gray-100 rounded-lg shadow-md">
    <div class="headline text-2xl font-bold text-gray-800">
        {{ activity?.name }}
    </div>
    <div class="adresse mt-2 text-gray-600">
        <p>{{ activity?.number }}. {{ activity?.street }}, {{ activity?.zip }} {{ activity?.city }}</p>
    </div>
    @if (activity?.age_restriction) {
        <div class="minimal-age mt-1 text-red-500">
            Altersempfehlung: {{ activity?.age_restriction }} Jahre
        </div>
    }
    <div class="flex flex-row flex-wrap gap-2 mt-4">
        @if (activity?.barrier_free) {
            <div class="flex flex-row gap-x-2 p-2 pl-4 max-h-[40px] overflow-hidden justify-start items-center bg-blue-300 w-[120px] hover:w-[280px] cursor-pointer select-none transition-all ease-in duration-75 border-blue-400 border-solid border-2 rounded-md">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-person-wheelchair" viewBox="0 0 16 16">
                        <path d="M12 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3m-.663 2.146a1.5 1.5 0 0 0-.47-2.115l-2.5-1.508a1.5 1.5 0 0 0-1.676.086l-2.329 1.75a.866.866 0 0 0 1.051 1.375L7.361 3.37l.922.71-2.038 2.445A4.73 4.73 0 0 0 2.628 7.67l1.064 1.065a3.25 3.25 0 0 1 4.574 4.574l1.064 1.063a4.73 4.73 0 0 0 1.09-3.998l1.043-.292-.187 2.991a.872.872 0 1 0 1.741.098l.206-4.121A1 1 0 0 0 12.224 8h-2.79zM3.023 9.48a3.25 3.25 0 0 0 4.496 4.496l1.077 1.077a4.75 4.75 0 0 1-6.65-6.65z"/>
                    </svg>
                </div>
                <span class="text-[15px] font-semibold">Barrierefrei</span>
                <span class="text-[11px] font-medium text-nowrap">Diese Location ist barrierefrei.</span>
            </div>
        }
    </div>

    @if (activity?.description) {
        <div class="description mt-4 text-gray-700">
            {{ activity?.description }}
        </div>
    }
</div>

@if (activity?.media) {
    <div class="mt-4">
        <img class="rounded-lg shadow-md" [src]="activity?.media.file?.[0].url" alt="{{activity?.name}} Bild">
    </div>
}
<div class="buttons mt-6 flex gap-4">
    <button class="btn" onclick="history.back()"
            type="button">
        <i class="bi bi-arrow-left"></i>
        <p class="ml-2">Zurück</p>
    </button>
    @if (activity?.website) {
        <button type="button" class="btn">
            <a href="{{activity?.website}}" class="flex items-center">
                <i class="bi bi-link-45deg"></i>
                <p class="ml-2">Website</p>
            </a>
        </button>
    }
    @if (activity?.maps_link) {
        <button type="button" class="btn">
            <a href="{{activity?.maps_link}}" class="flex items-center">
                <i class="bi bi-pin-map-fill"></i>
                <p class="ml-2">Maps</p>
            </a>
        </button>
    }
</div>
