@if(activity) {

<div class="card my-4 bg-gray-100 shadow-md">
    @if (activity.media) {
        <img class="card-img-top" [src]="activity.media.file?.[0].url" alt="{{activity.name}} Bild">
    }
    <div class="card-body">
        <div class="buttons flex gap-4">
            <button type="button" class="btn">
                <a class="flex items-center" onclick="history.back()">
                    <i class="bi bi-arrow-left"></i>
                    <p class="ml-2">Zurück</p>
                </a>
            </button>
            @if (activity.website) {
                <button type="button" class="btn">
                    <a href="{{activity.website}}" class="flex items-center">
                        <i class="bi bi-link-45deg"></i>
                        <p class="ml-2">Website</p>
                    </a>
                </button>
            }
            @if (activity.maps_link) {
                <button type="button" class="btn">
                    <a href="{{activity.maps_link}}" class="flex items-center">
                        <i class="bi bi-pin-map-fill"></i>
                        <p class="ml-2">Maps</p>
                    </a>
                </button>
            }
        </div>        
    <h1 class="card-title text-2xl font-bold text-gray-800">
        {{ activity.name }} | {{ activity.type.name }}
    </h1>

    <address class="adresse mt-2 text-gray-700">
        <i class="bi bi-geo"></i>
        @if(activity.number && activity.street) {
            <span>{{activity.street}} {{activity.number}}</span>,
        }
        {{activity.zip}} {{activity.city}} {{activity.country}}
    </address>



    @if (activity.age_restriction) {
        <div class="minimal-age mt-2 text-red-400">
            Altersempfehlung: ab {{ activity.age_restriction }} Jahre
        </div>
    }
    @if(activity.barrier_free) {
        <div class="flex flex-row flex-wrap gap-2 mt-4">      
            <div class="flex flex-row gap-x-2 p-2 pl-4 max-h-[40px] overflow-hidden justify-start items-center bg-blue-300 w-[120px] hover:w-[280px] cursor-pointer select-none transition-all ease-in duration-75 border-blue-400 border-solid border-2 rounded-md">
                <i class="bi bi-person-wheelchair"></i>
                <span class="text-[15px] font-semibold">Barrierefrei</span>
                <span class="text-[11px] font-medium text-nowrap">Diese Aktivität ist barrierefrei.</span>
            </div>
        </div>
    }

    @if (activity.description){
        <hr class="my-4">
        <div class="card-text text-gray-700">
            {{ activity.description }}
        </div>
    }
    </div>
</div>
} @else {
    <div class="card my-4 bg-gray-100 shadow-md" style="height: 80vh;">
        <div class="card-img-top" style="background-color: lightgray; width:100%; height: 30vh;"></div>
        <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
}
