.card {
  margin-bottom: 1rem;
  cursor: pointer;
}

.grid {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.badge {
  background-color: #6bc4f6 !important;
  margin-bottom: 9px;
}

svg {
  margin-bottom: 4px;
}

hr {
  margin-top: 5px;
  margin-bottom: 10px
}
