<div class = "box1" >
<h1>Angaben gemäß § 5 DDG</h1>
Sybit GmbH
<br>Sankt-Johannis-Str. 1-5
<br>78315 Radolfzell, Germany
<br>
<br>Handelsregister: HRB 550606
<br>Registergericht: Amtsgericht Freiburg
<br>
<br>Vertreten durch:
<br>Geschäftsführer Thomas Regele
<br>
<br>
<br>
<h2>Kontakt</h2>
Tel. +49 7732 9508-0
<br>Fax +49 7732 9508-111
<br>E-Mail  <a href="sales&#64;sybit.de">sales&#64;sybit.de</a> 
<br>
<br>
<br>
<h2>Umsatzsteuer-ID</h2>
Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:
<br>DE 142314511
<br>
<br>
<h4>DUNS Nummer</h4>
34-124-4838
<br>
<br>
<br>
<h2>Redaktionell verantwortlich</h2>
Thomas Regele
<br>Sankt-Johannis-Str. 1-5
<br>78315 Radolfzell
<br>
<br>
<br>
 

<h2>EU-Streitschlichtung</h2>
Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: https://ec.europa.eu/consumers/odr/.
<br>Unsere E-Mail-Adresse finden Sie oben im Impressum.
<br>
<br>
<br>
<h2>Verbraucher­streit­beilegung/Universal­schlichtungs­stelle</h2>
Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
<br>
<br>
 <br>

<h2>Haftungshinweis</h2>
Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. 
<br>Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
<br>
<br>
<br>
</div>