<footer class="footer-color  text-center text-lg-start">
  <div class="text-center">
    <a class="text-body" [routerLink]="['/imprint']">Impressum</a>
    <br>
    <a class="text-body" [routerLink]="['/about-us']">Über uns</a>
    <br>
    <a class="text-body" [routerLink]="['/privacy-policy']">Datenschutzerklärung</a>
  <br>
    © 2000-2024 Sybit GmbH
    <div class="vr"></div>
    Coding Camp 2024 hosted by
    <a class="text-body" href="https://www.sybit.de/">Sybit</a>
  </div>
  <div class="text-center pb-4">
    <a>Adressen und Geodaten stammen von </a><a class="text-body" href="https://www.openstreetmap.org">OpenStreetMaps</a>
    <a> unter der </a>
    <a class="text-body" href="https://www.openstreetmap.org/copyright">Open Data Commons Open Database-Lizenz</a>
  </div>

</footer>

