.footer-color {
  background-color: var(--lightBlue);;
  color: white;
  text-align: center;
}

.footer-link {
  text-decoration: underline;
  color: #000000;
}

.footer-container {
  display: flex;
  gap: 15px;
  justify-content: center;
}
