<footer class="footer-color  text-center text-lg-start">
  <div class="text-center pt-4">
      <div class="footer-container footer-color">
    <a class="footer-link" [routerLink]="['/imprint']">Impressum</a>
          |
    <a class="footer-link" [routerLink]="['/about-us']">Über uns</a>
          |
    <a class="footer-link" [routerLink]="['/privacy-policy']">Datenschutzerklärung</a>
      </div>
    © 2000-2024 Sybit GmbH
    <div class="vr"></div>
    Coding Camp 2024 hosted by
    <a class="footer-link" href="https://www.sybit.de/">Sybit</a>
  </div>
  <div class="text-center pb-4">
    <a>Adressen und Geodaten stammen von </a><a class="footer-link" href="https://www.openstreetmap.org">OpenStreetMaps</a>
    <a> unter der </a>
    <a class="footer-link" href="https://www.openstreetmap.org/copyright">Open Data Commons Open Database-Lizenz</a>
  </div>

</footer>

