<div
        class="w-full fixed z-[999] min-h-[50px] max-h-[50px] h-[50px] bg-[#6bc4f6] flex flex-row justify-center items-center pl-5 pr-5">
    <div class="w-fit flex flex-row justify-start items-center">
        <img
                src="assets/images/logo.png"
                alt="Logo"
                class="bg-black max-w-[50px] min-w-[50px] h-full"/>
    </div>
    <div
            class="flex flex-row w-11/12 min-h-[40px] max-w-[800px] ml-2 mr-2 group bg-blue-100 rounded-full mt-1 mb-1 justify-start text-[#000] items-center">
        <i
                class="bi bi-search w-[50px] text-center text-gray-400 group-hover:text-black group-active:text-black transition-all ease-in"></i>
        <input
                autocomplete="off"
                spellcheck="false"
                placeholder="Search a place"
                class="text-base w-full flex outline-none bg-transparent pr-5 border-none"
                [(ngModel)]="searchTerm"
                (input)="onSearch()"
        />
    </div>
    <a class="p-2 hover:bg-[#1891d7] font-semibold rounded-full pl-5 pr-5 transition-all ease-in cursor-pointer text-white text-nowrap"><app-get-lucky></app-get-lucky>
    </a>
</div>
<div class="w-full relative min-h-[50px] max-h-[50px] h-[50px] bg-transparent">
