h1{
text-align: left;
font-size: 47px;
font-weight: 600;
margin-top: 15px;
}

.left {margin-left: 150px;
margin-right: 150px;
font-size: larger;
margin-bottom: 15px;}

h2 {text-align: left;
    font-size: 35px;
    font-weight: 600;}

a {color: #6bc4f6;}

p {font-size: 13px;}