<h1 class="h1 mt-3">Über die Sytivities-App</h1>

<div class="infos">
<p>
In der Sytivities-App findest du viele verschiedene Freizeitaktivitäten in deiner Umgebung. Die dazugehörigen wichtigen Details wie zum Beispiel Altersempfehlungen, 
findest du bei dem jeweiligen Vorschlag. Außerdem kann sie basierend auf deinen Interessen personalisierte 
Voschläge geben. Eine Kartefunktion in der App zeigt dir auch, wo die Aktivitäten stattfinden, sodass du leicht dorthin navigieren kannst. Diese App ist ideal, 
um immer wieder neue spannende Ideen zu finden und deine Freizeit optimal zu gestalten.
</p>
<p>
Technisch wurde das Projekt initial im Sybit Coding Camp 2024 entwickelt und vorgestellt. Danach haben die Auszubildenden der Firma Sybit 
die technische Wartung und Erweiterung der App übernommen. 
</p>

<h2 class="h2 mt-3">Sybit Coding-Camp</h2>
<p>
    Das Sybit Coding-Camp findet jährlich statt und bietet Jugendlichen die Chance, einen Einblick in den Beruf von Softwareentwicklerinnen und Softwareentwicklern, sowie die Ausbildung als Fachinformatiker:in (Anwendungsentwicklung) zu erhalten. 
Die Auszubildenden des Unternehmens bereiten hierfür im Vorfeld ein Projekt vor und coachen die Jugendlichen während des Coding-Camps.
</p>


<h2 class="h2 mt-3">Das haben wir während des Coding-Camps gemacht</h2>
<p>
    Während des Coding-Camps haben wir die App Sytivities gecodet. Wir sind insgesamt elf Schüler*innen und sechs Auszubildende gewesen. 
    Die Auszubildenden haben uns vieles über das Programmieren mit  HTML und CSS beigebracht und wie diese in Firmen wie Sybit benutzt werden.
    Gegen Ende unserer Vorbereitung haben wir fünf Personas erstellt und jeweils User Storys für diese erstellt. Um die zuvor besprochenen Aufgaben zu bearbeiten, haben wir uns in mehrere Gruppen aufgeteilt.
</p>
</div>

<h2 class="h2 mt-3">Unser Coding-Team</h2>

<img class="img-fluid" src="/images/Gruppenbild.JPG" alt="Gruppenbild Sybit Coding camp 2024" > 

<p><small>
    Während ihrer Arbeit beim Coding-Camp -  (v.l.n.r): Jimmy Bergstaedt, Alexander Kugler, Felix Klein, Felix Luckow, 
    Constantin von Fragstein, Jonas Nebel,
    Max Aichelmann, Rafael Schuller, Maksym Kuzmenko, Domenik Smyczkowski, Lotte Veit, Louis Knauss, Lena Schirmer, Thiara Adrian, Isabell Perz,
    Fiona Krause und der Projekt-Leiter: Stephan Strittmatter
<br>(nicht auf dem Bild: André Sommer)
</small>
</p>

<br>
<small>
    <div class="license">
<p>
    Die Sytivities-App ist eine Open-Source Software. Der <a href="https://github.com/Sybit-Education/Coding-Camp-2024"><u>Quellcode</u></a>  
    ist somit öffentlich verfügbar und kann frei genutzt, vervielfältigt und verändert werden.
</p>
<p>
    Es gelten die Bedingungen der <a href="https://github.com/Sybit-Education/Coding-Camp-2024?tab=MIT-1-ov-file#readme"><u>MIT-Lizenz</u>.</a> 
</p>
    </div>
</small>

