a {color: #000000;}
h1 {
  text-align: center;
  font-weight: 650;
}
h2 {
  text-align: center;
  font-weight: 650;
}
.license {text-align: center}

.infos {
  text-align: center;
}

@media (max-width: 600px) {

  .license {
    font-size: 10px;
  }
  .infos {
    margin-left: 0;
    margin-right: 0
  }

}