#scroll-up-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, bottom 0.3s ease-in-out;
}

#scroll-up-button.show {
  opacity: 1;
  visibility: visible;
}
