main {
    min-height: 77vh;
}

app-footer {
    width: 100%;
}
.footer-spacer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

app-navbar {
    z-index: 5;
}