app-footer {
    width: 100%;
}

main {
    padding: 0;
}


.footer-spacer {
    display: flex;
    padding: 7vh 0 7vh 0;
    flex-direction: column;
    justify-content: space-between;
}

app-navbar {
    z-index: 5;
}