

.map {
  width: 100%;
  height: 93vh;
  border-radius: 15px;
  overflow: hidden;
  margin: 0;
}

.tooltip-map {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.33);
  padding: 2.5px;
  border-radius: 5px;
  pointer-events: none;
  white-space: nowrap;
  transform: translate(-50%, -100%);
  z-index: 10;
  display: none;
}

.loading {
  position: absolute;
  z-index: 99;
  top: 50px;
  left: 0;
  width: 100%;
  opacity: 80%;
}

@media (max-width: 768px) {
  .map {
    height: 80vh;
    border-radius: 15px;
  }
}
