<div class="items-center">
    <h1 class="text-center mt-2 text-2xl font-bold">Für dich vorgeschlagene Aktivitäten:</h1>
</div>
@if (!isLoading) {
    <div class="flex flex-wrap gap-2 w-full justify-center items-center mt-2 mb-2">
        @for(activity of shuffledActivities; track activity.osm_id) {
        <app-activity-card [activity]="activity"></app-activity-card>
        }
    </div>
    <div class="flex flex-row justify-center items-center mt-2 mb-2">
        <button type="button" class="btn btn-margin flex flex-row" routerLink="/search-result">
            <i class="bi bi-search mr-2"></i>
            Alle anzeigen
        </button>
        <button type="button" class="btn btn-margin flex flex-row" (click)="doReshuffle()">
            <i class="bi bi-shuffle mr-2"></i>
            Neue Vorschläge
        </button>
    </div>
    } @else {
        <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    }
