<div
  class="w-full max-w-[400px] h-[300px] mt-1 mb-1 flex flex-col rounded-lg overflow-hidden shadow-sm shadow-black">
  <div
    class="w-full max-h-[220px] min-h-[220px] flex justify-center items-center">
    <img class="w-full h-full bg-black object-cover" src="assets/images/logo.png" />
  </div>
  <div
    class="flex-col flex pl-3 pr-3 pt-2 pb-2 max-h-[100px] min-h-[100px] -translate-y-5 bg-white rounded-t-md">
    <div class="max-h-[45px] min-h-[45px] flex flex-row w-full">
      <h1
        class="text-xl font-bold w-full mr-2 overflow-hidden overflow-ellipsis h-fit text-nowrap">
        {{ activity?.name || "No name provided" }}
      </h1>
      <!-- <div
        class="min-w-16 max-w-16 min-h-7 max-h-7 p-2 rounded-md bg-slate-100 flex flex-row justify-start items-center">
        <span class="w-full overflow-hidden overflow-ellipsis font-semibold">{{
          activity?.rating || "0,0"
        }}</span>
        <i
          class="bi bi-star-fill text-xl w-full min-w-[20px] text-center text-blue-700"></i>
      </div> -->
    </div>
    <div class="flex flex-row-reverse min-h-[50px] max-h-[50px] -translate-y-2">
      <button
        (click)="onBookmark()"
        class="bg-[#6bc4f6] hover:bg-[#1891d7] active:bg-[#6bc4f6] transition-all ease-in duration-75 min-w-10 min-h-10 max-h-10 max-w-10 w-10 h-10 flex justify-center items-center text-white rounded-md">
        @if (isBookmarked) {
        <i id="bookmark_id_2" class="bi bi-bookmark-fill"></i>
        } @else {
        <i id="bookmark_id_1" class="bi bi-bookmark"></i>

        }
      </button>
      <div
        class="flex flex-col justify-start items-start max-w-[300px] min-w-[330px] mr-2">
        <span
          class="text-sm text-nowrap w-full overflow-hidden overflow-ellipsis"
          >{{ activity?.description || "No description" }}</span
        >
        <a class="text-md font-semibold hover:opacity-75">Read more</a>
      </div>
    </div>
  </div>
</div>
