/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
  --lightBlue: #6bc4f6;
}


body {
  background-color: rgb(219, 234, 254);
}

.btn-primary {
  background-color: var(--lightBlue);
  border-color: var(--lightBlue);
  color: white;

  &:hover {
    opacity: 0.4;
    background-color: var(--lightBlue);
    border-color: var(--lightBlue);
    color: black;
  }

  &:active {
    opacity: 1;
    background-color: var(--lightBlue) !important;
    border-color: var(--lightBlue) !important;
  }
}
